@import '../styles/variable';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  header {
    height: 70px;
    mat-icon {
      color: $white;
    }
    h1 {
      color: $white;
    }
  }
}

mat-sidenav-container {
  flex: 1; /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  height: calc(100% - 70px);
  mat-sidenav {
    mat-icon {
      margin-right: 5px;
    }
  }
  mat-sidenav-content {
    .main-content {
      margin: 50px;
    }
  }
}

.is-mobile mat-toolbar {
  position: fixed;
  z-index: 2;
}

.is-mobile mat-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
