@import "../../../styles/variable";

.books-container {
  display: flex;
  flex-wrap: wrap;

  .book {
    margin: 4% 10%;

    mat-card {
      mat-card-header {
        display: flex;

        .title {
          flex-grow: 1;
        }

        .logo {
          width: 8%;

          img {
            width: 100%;
          }
        }
      }

      mat-card-content {
        margin-bottom: -10px;
      }

      .description {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .btm-section {
        margin-top: 50px;

        .writtenBy {
          font-weight: bold;
        }

        .btm-inner {
          display: flex;
          .author {
            flex-grow: 1;
          }
          button.remove {
            mat-icon {
              color: $magenta;
            }
          }
        }
      }
    }

    mat-card:active {
    }

    button.buy {
      background-color: $magenta;
      color: $white;
    }

    button.buy {
      margin-top: 30px;
    }
  }
}
