@import "../../../styles/variable";

.books-container {
  display: flex;
  flex-wrap: wrap;
  .book {
    margin: 4% 10%;
    height: 250px;
    mat-card {
      height: 100%;
      mat-card-header {
        display: flex;
        .title {
          flex-grow: 1;
        }
        .logo {
          width: 10%;
          img {
            width: 100%;
          }
        }
      }

      mat-card-content {
      }

      .description {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .author-info {
        position: absolute;
        bottom: 0;
      }

      .writtenBy {
        font-weight: bold;
      }

      mat-card-actions {
        button {
          float: right;
        }
      }
    }

    mat-card:active {
    }
    button {
      background-color: $magenta;
      color: $white;
    }
    button.buy {
      margin-top: 30px;
    }
  }
}
