books-demo-app-books-search {
  books-demo-books-list {
    .book {
      width: 50%;
      mat-card {
        margin: 2%;
        mat-card-content {
          .description {
            -webkit-line-clamp: 3;
          }
        }
      }
    }
  }
}

.searchForm {
  mat-form-field {
    margin: 0 50%;
    transform: translate(-50%, 0%);
  }

  mat-icon {
    cursor: pointer;
  }
}

